{% extends 'front/base.html.twig' %}

{% block title %}New Consultation{% endblock %}
{%block header%}
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#page-top">Start Bootstrap</a>
                <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                         <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/add_consultation">Rendez-Vous</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/consultation">Consultation</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact">Contact</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/login">Log In</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <br><br><br><br><br><br>
{%endblock%}

{% block body %}
<div class="container my-5">
    <h1 class="text-center mb-4">New Consultation</h1>

    {{ form_start(form) }}
        <div class="mb-3">
            {{ form_label(form.psychiatrist, 'Psychiatrist', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.psychiatrist, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.consultationDate, 'Consultation Date and Time', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.consultationDate, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.message, 'Message to the Psychiatrist', {'label_attr': {'class': 'form-label'}}) }}
            {{ form_widget(form.message, {'attr': {'class': 'form-control', 'rows': 4, 'placeholder': 'Write your message here...'}}) }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    {{ form_end(form) }}
    
</div>

{% endblock %}
